@media screen and (max-width: 1090px) {
    .hamburger {
        display: block;
        padding: 0;
    }

    .toolbar__block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        z-index: 11;
        transition: 0.3s ease;
        padding: 163px 35px 0 0;
        opacity: 0;
        visibility: hidden;
    }

    .toolbar__block ul {
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-end;
    }

    .toolbar__iconBlock {
        /* position: absolute;
        top: 17%;
        left: 92%;
        z-index: 11; */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        z-index: 11;
        transition: 0.3s ease;
        padding: 163px 35px 0 0;
        transform: translateY(-35px);
        opacity: 0;
        visibility: hidden;
    }

    .is-active {
        opacity: 1;
        visibility: visible;
    }

    .img_svg path,
    .img_svg polygon {
        stroke: #fff;
    }

    .is-active ul li a {
        color: #fff;
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::after,
    .hamburger.is-active .hamburger-inner::before {
        background-color: rgb(255, 240, 240);
    }


    .menu-bg {
        top: 40px;
        right: 40px;
        position: absolute;
        z-index: 10;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background: radial-gradient(circle, #D36601, #ad621c);
        border-radius: 50%;
        transition: 0.3s ease;
    }

    .toolbar__Bottom ul li a:hover {
        color: #fff;
    }

    .change-bg {
        width: 700px;
        height: 680px;
        transform: translate(60%, -30%);
    }

    .toolbar__Bottom ul li a {
        font-size: 20px;
    }




    .is-active .toolbar__iconBlock {
        display: block;
    }

    .toolbar__container {
        padding: 0 30px;
    }

    .backgroundImg {
        height: 120px;
    }
}
@media screen and (max-width: 1150px) {
    .aboutUs__valuesFlex {
        flex-direction: column;
    }
    .aboutUs__valuesItem {
        width: 80vw;
        height: auto;
    }
}
@media screen and (max-width: 720px) {
    .toolbarnumBlock span {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    .toolbarGroup2 {
        position: absolute;
        row-gap: 15px;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        z-index: 11;
        transition: 0.3s ease;
        padding: 163px 35px 0 0;
        transform: translateY(230px);
        opacity: 0;
        visibility: hidden;
    }


    .is-active {
        opacity: 1;
        visibility: visible;
    }

    .backgroundImg {
        height: 100px;
    }

    .popap__body {}

    .popap__flex span {
        font-size: 12px;
    }

    .popap__activeb {
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95vw;
    }

}

@media screen and (max-width: 1399px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 1320px;
    }
}

@media screen and (max-width: 1236px) {

    .content__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 850px;
    }

    .content__alfa {
        display: flex;
        justify-content: space-between;
        width: 850px;
    }
}

@media screen and (max-width: 1200px) {
    .content__main {
        max-width: 850px;
    }

    .content__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 10px;
    }

    .content__alfa {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }
}

@media screen and (max-width: 1160px) {
    .aboutUs__headerFlex {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 15px;
    }

    .aboutUs__headerFlexTitle {
        font-size: 29px;
    }

    .aboutUs__headerFlexText {
        max-width: 90%;
    }

    .aboutUs__headerFlexImg {
        transform: scale(90%);
    }

    .aboutUs__headerFlexImg img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1135px) {
    .aboutUs__table {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        column-gap: 45px;
        padding: 75px 0;
        display: grid;
        grid-template-columns: 400px 400px;
        gap: 20px;
      }
}

@media screen and (max-width: 1094px) {
    .swiper__Cards {
        padding-top: 30px;
        padding-left: 50px;
    }

    .swiper__Cards .swiper__Img {
        transform: translateY(11px);
    }
}

@media screen and (max-width: 1064px) {
    .swiper__CardsDesc {
        font-size: 17px;
    }
}

@media screen and (max-width: 1032px) {
    .swiper__CardsDesc {
        font-size: 17px;
    }


    .swiper {
        width: 90%;
        height: 340px;
        margin-bottom: 50px;

    }

    .swiper__Cards {
        width: 100%;
        height: 300px;
        flex-direction: column;
        padding: 20px;
        background-color: #a2c62d;
    }

    .bc2 {
        background-color: #D36601;
    }

    .bc3 {
        background-color: #005287;
    }


    .swiper__Cards .swiper__Img {
        display: none;
    }

    .swiper__CardsTitle,
    .swiper__CardsDesc {
        color: #fff;
    }
}
@media screen and (max-width: 875px) { 
    .aboutUs__table {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .aboutUs__tableGroup {
        max-width: 90vw;
      }
}
@media screen and (max-width: 722px) {
    .swiper {
        width: 90%;
        height: 390px;
        margin-bottom: 50px;

    }

    .swiper__Cards {
        width: 100%;
        height: 350px;
        flex-direction: column;

    }
}

@media screen and (max-width: 548px) {
    .swiper {
        width: 90%;
        height: 460px;
        margin-bottom: 50px;

    }

    .swiper__Cards {
        width: 100%;
        height: 420px;
        flex-direction: column;

    }
}

@media screen and (max-width: 483px) {
    .swiper {
        width: 90%;
        height: 520px;
        margin-bottom: 50px;

    }

    .swiper__Cards {
        width: 100%;
        height: 480px;
        flex-direction: column;

    }
}

@media screen and (max-width: 404px) {
    .swiper__CardsDesc {
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) {
    .footerItem {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1199px) {
    .content__Grid {
        justify-content: center;
    }
}


@media screen and (max-width: 991px) {
    .content__Grid {
        justify-content: center;
    }

    .header__group {
        flex-direction: column;
        align-items: center;
    }

    .content__flex {
        align-items: center;
    }

    .content__alfa {
        align-items: center;
    }

    .content__Grid>* {
        width: auto;
    }
}

@media screen and (max-width: 495px) {
    .content__flexItem {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .groupInput {
        width: 80vw;
    }

    .content__flexItem {
        align-items: center;
    }

    .content__block {
        flex-direction: column;
        row-gap: 5px;
    }

    #checked {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

@media screen and (max-width: 585px) {

    .registration input {
        width: 85vw;
        margin: 0 auto 25px auto;
    }


    .registration__group {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        column-gap: 50px;
    }

    /* .registration label {
        padding-left: 30px;
      } */

    .registration {
        width: 90vw;
    }

    .checkbox {
        width: 14px !important;
    }

    .registration .popap__passwordBlock {
        width: 86vw;
    }
}

@media screen and (max-width: 512px) {



    .registration__title {
        font-size: 30px;
    }

}

@media screen and (max-width: 400px) {

    .registration__title {
        font-size: 26px;
    }

    .registration label {
        padding-left: 20px;
    }

}


@media screen and (max-width: 1190px) {
    .header__contactImg img {
        width: 100%;
        height: 100%;
    }

    .content__addressesMap {
        width: 650px;
        height: 465px;
    }

    .content__addresses {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }

    .header__vacancy {
        flex-direction: column;
        row-gap: 30px;
    }

    .vacancy__Group1 {
        Width: 95vw;
        margin: 0 auto;
        padding: 40px 10px 40px 30px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        max-height: 515px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 15px;
    }

    .vacancy__Group2 {
        background: #005287;
        border-radius: 10px;
        Width: 95vw;
        margin: 0 auto;
        padding: 30px 20px;
    }
}

@media screen and (max-width: 1400px) {
    .aboutUs__headerUpLogo {
        transform: scale(80%);
    }

    .aboutUs__headerUpLogo img {
        width: 100%;
        height: 100%;
    }

    .aboutUs__headerUpText {
        font-size: 22px;
        padding: 10px;
    }
}

@media screen and (max-width: 1155px) {
    .vacancy__Group1 {
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    }
}

@media screen and (max-width: 1000px) {
    .content__addresses {
        flex-direction: column;
        align-items: center;
    }

    .content__addressesItem ul {

        flex-direction: initial;
        column-gap: 25px;
    }

    .content__addressesMap {
        width: 80vw;
    }

    .contant__questionsTitle {
        font-size: 45px;
    }

    .contant__questionsDesc {
        font-size: 18px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 800px) {
    .content__addressesItem ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .aboutUs__headerUp {
        row-gap: 5px;
    }

    .content__addressesItem {
        width: 80vw;
        align-items: initial;
    }

    .contant__questionsTitle {
        font-size: 40px;
    }

    .contant__questionsDesc {
        font-size: 17px;
        padding: 0 10px;
    }

    .contant__questionsContainer {
        width: 95vw;
    }

}

@media screen and (max-width: 950px) {
    .content___contactGroup {
        flex-direction: column;
        row-gap: 20px;
    }

    .contactsNumGroup {
        padding-left: 20px;
    }
}

@media screen and (max-width: 715px) {
    .vacancy__GroupGrid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .vacancy__GroupItem {
        max-width: 95%;
    }

    .vacancy__GroupForm {
        max-width: 95%;
    }
}

@media screen and (max-width: 700px) {
    .content___contactGroup {
        flex-direction: column;
        row-gap: 20px;
    }

    .contant__questionsTitle {
        font-size: 38px;
    }

    .contant__questionsDesc {
        font-size: 16px;
        padding: 0 20px;
    }

    .content___contactflex {
        padding-left: 10px;
    }

    .aboutUs__connectConteiner {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .aboutUs__connectForm {
        display: flex;
        flex-direction: column;
        row-gap: 9px;
        width: 70vw;
    }

    .aboutUs__connectItem {
        width: 70vw;
    }

    .aboutUs__headerUpText {
        font-size: 20px;
        padding: 10px;
    }
}

@media screen and (max-width: 615px) {
    .vacancy__Group1 {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 550px) {
    .content___contactGroup {
        flex-direction: column;
        row-gap: 20px;
    }

    .contant__questionsTitle {
        font-size: 33px;
    }

    .content___contactflex {
        padding-left: 10px;
        padding-right: 5px;
    }

    .header__contactTitle {
        font-size: 30px;
    }
}

@media screen and (max-width: 575px) {
    .content__addressesItem ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .content__addressesItem {
        width: 80vw;
        align-items: initial;
    }
}

@media screen and (max-width: 500px) {
    .contactsNumGroup {
        flex-direction: column;
    }

    .contant__questionsTitle {
        font-size: 29px;
        padding: 0 5px;
        line-height: 110%;
    }

    .content__addressesMap {
        width: 90vw;
        height: 350px;
    }

    .content___contactflex {
        padding-left: 25px;
        padding-right: 5px;
    }

    .header__contactTitle {
        font-size: 25px;
    }

    .header__contact {
        margin-bottom: 10px;
    }

    .aboutUs__connectConteiner {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .aboutUs__connectForm {
        display: flex;
        flex-direction: column;
        row-gap: 9px;
        width: 80vw;
    }

    .aboutUs__connectItem {
        width: 80vw;
    }
}